<div class="delete_car">
    <h1><%=title%></h1>
    <h1>Only admin can delete</h1> 
    <h2>Really delete <%=car.name%> from inventory?</h2>
    <form method="POST" action="">
        <input type="hidden", name="carid", required="true", value="<%=car.id%>">
        <div class="getStatus">
            <label for="status">Enter admin password</label>
            <input type="text" name="status">
        </div>
        <input class="delete" type="submit" value="Delete">
    </form>
</div>