<div class="delete_car">
    <h1><%=title%></h1>
    <p>Really delete This car?</p>
    <form method="POST" action="">
        <input type="hidden", name="carid", required="true", value="<%=car.id%>">
        <input type="submit" value="Delete">
    </form>
</div>