  <div class="home">
    <h1><%= title %></h1>
    <div class="info">
      <p>
        Welcome to car inventory here you can find different cars from different
        from different maker, and types.
      </p>
    </div>
    <a href="/cars">ALL Cars</a>
  </div>