  <div class="content">
    <h1><%= title %></h1>
    <p>
      Welcome to car inventory here you can find different cars from different
      from different maker, and types.
    </p>
    <a href="/cars">ALL Cars</a>
  </div>