<div class="maker_list">
    <h1><%=title%></h1>
    <ul class="makers list">
        <div class="maker_list hold_list">
            <li class="list_header item maker_item">
                <p>Brand</p>
                <p>Established year</p>
            </li>
            <% maker_list.forEach(maker => { %>
                <li class="item maker_item">
                    <a href="<%=maker.url%>"><%=maker.name%></a>
                    <p><%=maker.established_year%></p>
                </li>
            <% }); %>
        </div>
        <a class="toCreateMaker create" href="/maker/create">Create Maker</a>
    </ul>
</div>