<div class="nav_bar">
    <h2 class="logo">
        <a href="/">Car Inventory</a>
    </h2>
    <ul class="pages">
        <li>
            <a href="/cars">Cars</a>
        </li>
        <li>
            <a href="/makers">Makers</a>
        </li>
        <li>
            <a href="/types">Types</a>
        </li>
    </ul>
</div>