<div class="type_delete">
    <h1>Type Delete</h1>
    <h1>Only admin can delete</h1> 
    <h2><%= `Really want to delete ${type.name} from inventory?` %></h2>
    <form method="POST" action="">
        <input type="hidden" name="typeid" value="<%= type._id %>">
        <div class="getStatus">
            <label for="status">Enter admin password</label>
            <input type="text" name="status">
        </div>
        <input class="delete" type="submit" value="Delete">
    </form>
</div>