body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E5E7E9;
  margin: 0px;
}

a {
  color: #317d9b;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

h1,
h2 {
  text-align: center;
}

/* nav bar */
.nav_bar_div {
  padding: 5px 10px;
  background-color: rgb(139 172 177);
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: left;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pages li,
.delete_update a {
  border: powderblue solid;
  padding: 10px;
  background-color: rgb(110, 173, 182);
  border-radius: 15px;
}

.pages a,
.delete_update a {
  color: rgb(22, 13, 13);
}

/* home */
.home {
  text-align: center;
}

.home .info {
  margin-bottom: 30px;
}

.home a {
  border: powderblue solid;
  padding: 10px;
  background-color: rgb(110, 173, 182);
  border-radius: 15px;
  color: rgb(22, 13, 13);
}

/* all list */
.list {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 5px;
}

.create {
  font-size: 16px;
  background-color: rgb(197, 173, 219);
  padding: 5px;
  border: rgb(199, 188, 39) solid;
  background-color: rgb(226, 214, 36);
  height: fit-content;
}

.hold_list {
  flex: 1;
}

.item {
  width: 100%;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  border-style: none none none solid;
  border-color: blueviolet;
}

.car_item {
  grid-template-columns: 1fr 200px 100px 100px;
}

.maker_item {
  grid-template-columns: 1fr 200px;
}

.type_item {
  grid-template-columns: 1fr;
}

.item:first-child {
  border-style: solid none none solid;
  border-color: blueviolet;
}

.list_header {
  background-color: rgb(185, 145, 223);
}

.item a,
.item p {
  border-style: none solid solid none;
  border-color: blueviolet;
  margin: 0px;
  padding: 5px;
}

/* Details */
.detail_info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.detail a {
  font-size: 18px;
}

.frame,
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.frame .picture,
.description p {
  width: 90vw;
  max-width: 1200px;
}

.delete_update {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.brand_logo {
  height: 30vh;
  max-height: 250px;
}

.type_car_item, 
.maker_car_item {
  grid-template-columns: 1fr 1fr;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form div {
  width: 90vw;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 40px;
}

.getFile input,
form label {
  align-self: center;
}

.getDescription {
  height: 150px;
}

textarea {
  resize: none;
}

.submit,
.delete {
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}

.submit {
  background-color: rgb(110, 173, 182);
  color: rgb(22, 13, 13);
}

.delete {
  background-color: brown;
  color: aliceblue;
}